services:
  ftp-server:
    build: .
    container_name: "backup_vault_ftp"
    restart: unless-stopped
    ports:
      # Puerto de control FTP
      - "21:21"
      # Puerto de datos FTP (activo)
      - "20:20"
      # Rango de puertos pasivos
      - "40000-40100:40000-40100"
    environment:
      - FTP_USER=deployer
      - FTP_PASS=A123
      - PASV_MIN=40000
      - PASV_MAX=40100
      - PASV_ADDRESS=127.0.0.1 
    volumes:
      # Persistencia de datos
      - ftp_data:/home/vsftpd

volumes:
  ftp_data:
